@import url(sanitize.css);

body {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

h1 {
    font-size: 30px;
    font-family: Meiryo;
    color: #a9a9a9;
}

.entry {
    color: #a9a9a9;
}

input {
    text-align: center;
}

.nextpages {
    margin-top: 50px;
}


